In [1]:
import sys

import pandas as pd

sys.path.append("../")

import hotc as hc

%load_ext autoreload
%autoreload 2

In [2]:
# Print counter locations

hc.COUNTERS

,location_code,location_name,address,latitude,longitude
0,CL15,1 Courthouse Lane (NS),"1 Courthouse Lane, Auckland Central, Auckland,...",-36.848170,174.767050
1,CL14,107 Quay St (EW),"107 Quay Street, Auckland Central, Auckland, N...",-36.842840,174.766448
2,CL19,150 K Road (EW),"150 K Road, Auckland Central, Auckland, New Ze...",-36.858145,174.760321
3,CL6,183 K Road (EW),"183 K Road, Auckland Central, Auckland, New Ze...",-36.857570,174.760141
4,CL20,19 Shortland St (EW),"19 Shortland Street, Auckland Central, Aucklan...",-36.846576,174.766946
5,CL21,2 High St (NS),"2 High Street, Auckland Central, Auckland, New...",-36.846853,174.767005
6,CL10,205 Queen St (EW),"205 Queen Street, Auckland Central, Auckland, ...",-36.849339,174.764960
7,CL5,210 Queen St (NS),"210 Queen Street, Auckland Central, Auckland, ...",-36.848837,174.765597
8,CL4,261 Queen St (NS),"261 Queen Street, Auckland Central, Auckland, ...",-36.850792,174.764556
9,CL22,297 Queen St (NS),"297 Queen Street, Auckland Central, Auckland, ...",-36.852232,174.763915
10,CL18,30 Queen St (NS),"30 Queen Street, Auckland Central, Auckland, N...",-36.844891,174.766765
11,CL3,45 Queen St (NS),"45 Queen Street, Auckland Central, Auckland, N...",-36.851258,174.764279
12,CL2,59 High St (NS),"59 High Street, Auckland Central, Auckland, Ne...",-36.848686,174.766039
13,CL23,61 Federal St (NS),"61 Federal Street, Auckland Central, Auckland,...",-36.847964,174.762729
14,CL17,7 Custom St East (EW),"7 Custom Street East, Auckland Central, Auckla...",-36.848300,174.764700
15,CL8,8 Darby St (EW),"8 Darby Street (East-West), Auckland Central, ...",-36.849564,174.764605
16,CL7,8 Darby St (NS),"8 Darby Street (North-South), Auckland Central...",-36.849558,174.764106
17,CL13,Commerce St West (NS),"Commerce Street West, Auckland Central, Auckla...",-36.844912,174.768065
18,CL9,Te Ara Tahuhu Walkway (EW),"Te Ara Tahuhu Walkway, Auckland Central, Auckl...",-36.844650,174.769645

In [4]:
pd.date_range?

In [5]:
# Get daily counts for 2017-10

dates = pd.date_range("2018-09-29", "2018-09-30", freq="D")
dates = [date.strftime(hc.DATE_FORMAT) for date in dates]
print(dates)

%time counts_by_date = hc.get_hotc(dates, "day")

print(list(counts_by_date.keys()))
counts_by_date[dates[0]]

['2018-09-29', '2018-09-30']
CPU times: user 341 ms, sys: 11.2 ms, total: 352 ms
Wall time: 9.53 s
['2018-09-29', '2018-09-30']

,total,total_average,total_last_year,datetime,location_code,location_name,day_total,day_total_last_year,day_total_average
0,82,98.75,251,2018-09-29 06:00:00,CL5,210 Queen St (NS),24775,32830,23717.5
1,208,146.50,660,2018-09-29 07:00:00,CL5,210 Queen St (NS),24775,32830,23717.5
2,363,298.50,1437,2018-09-29 08:00:00,CL5,210 Queen St (NS),24775,32830,23717.5
3,704,614.75,1190,2018-09-29 09:00:00,CL5,210 Queen St (NS),24775,32830,23717.5
4,1164,1042.25,1358,2018-09-29 10:00:00,CL5,210 Queen St (NS),24775,32830,23717.5
5,1547,1476.25,1884,2018-09-29 11:00:00,CL5,210 Queen St (NS),24775,32830,23717.5
6,1705,1729.25,2377,2018-09-29 12:00:00,CL5,210 Queen St (NS),24775,32830,23717.5
7,2093,2014.25,2756,2018-09-29 13:00:00,CL5,210 Queen St (NS),24775,32830,23717.5
8,2470,2325.25,2501,2018-09-29 14:00:00,CL5,210 Queen St (NS),24775,32830,23717.5
9,2348,2467.75,2576,2018-09-29 15:00:00,CL5,210 Queen St (NS),24775,32830,23717.5
10,2321,2282.75,2838,2018-09-29 16:00:00,CL5,210 Queen St (NS),24775,32830,23717.5
11,1884,1995.50,3069,2018-09-29 17:00:00,CL5,210 Queen St (NS),24775,32830,23717.5
12,1578,1420.00,2405,2018-09-29 18:00:00,CL5,210 Queen St (NS),24775,32830,23717.5
13,1334,1123.75,1552,2018-09-29 19:00:00,CL5,210 Queen St (NS),24775,32830,23717.5
14,891,881.50,1073,2018-09-29 20:00:00,CL5,210 Queen St (NS),24775,32830,23717.5
15,716,710.00,1076,2018-09-29 21:00:00,CL5,210 Queen St (NS),24775,32830,23717.5
16,906,712.75,828,2018-09-29 22:00:00,CL5,210 Queen St (NS),24775,32830,23717.5
17,658,722.25,715,2018-09-29 23:00:00,CL5,210 Queen St (NS),24775,32830,23717.5
18,623,516.75,592,2018-09-30 00:00:00,CL5,210 Queen St (NS),24775,32830,23717.5
19,399,447.50,498,2018-09-30 01:00:00,CL5,210 Queen St (NS),24775,32830,23717.5
20,0,300.75,533,2018-09-30 03:00:00,CL5,210 Queen St (NS),24775,32830,23717.5
21,330,194.00,382,2018-09-30 04:00:00,CL5,210 Queen St (NS),24775,32830,23717.5
22,366,150.00,207,2018-09-30 05:00:00,CL5,210 Queen St (NS),24775,32830,23717.5
23,85,46.50,72,2018-09-30 00:00:00,CL5,210 Queen St (NS),24775,32830,23717.5
0,147,121.50,339,2018-09-29 06:00:00,CL3,45 Queen St (NS),24403,32339,23362.5
1,284,275.00,1345,2018-09-29 07:00:00,CL3,45 Queen St (NS),24403,32339,23362.5
2,596,561.50,2698,2018-09-29 08:00:00,CL3,45 Queen St (NS),24403,32339,23362.5
3,1143,946.00,1883,2018-09-29 09:00:00,CL3,45 Queen St (NS),24403,32339,23362.5
4,1325,1464.25,1599,2018-09-29 10:00:00,CL3,45 Queen St (NS),24403,32339,23362.5
5,1821,1694.75,1934,2018-09-29 11:00:00,CL3,45 Queen St (NS),24403,32339,23362.5
...,...,...,...,...,...,...,...,...,...
18,0,0.00,0,2018-09-30 00:00:00,CL11,Bledisloe Lane (NS),0,0,0.0
19,0,0.00,0,2018-09-30 01:00:00,CL11,Bledisloe Lane (NS),0,0,0.0
20,0,0.00,0,2018-09-30 03:00:00,CL11,Bledisloe Lane (NS),0,0,0.0
21,0,0.00,0,2018-09-30 04:00:00,CL11,Bledisloe Lane (NS),0,0,0.0
22,0,0.00,0,2018-09-30 05:00:00,CL11,Bledisloe Lane (NS),0,0,0.0
23,0,0.00,0,2018-09-30 00:00:00,CL11,Bledisloe Lane (NS),0,0,0.0
0,0,0.00,0,2018-09-29 06:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.0
1,0,0.00,0,2018-09-29 07:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.0
2,0,0.00,0,2018-09-29 08:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.0
3,0,0.00,0,2018-09-29 09:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.0
4,0,0.00,0,2018-09-29 10:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.0
5,0,0.00,0,2018-09-29 11:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.0
6,0,0.00,0,2018-09-29 12:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.0
7,0,0.00,0,2018-09-29 13:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.0
8,0,0.00,0,2018-09-29 14:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.0
9,0,0.00,0,2018-09-29 15:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.0
10,0,0.00,0,2018-09-29 16:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.0
11,0,0.00,0,2018-09-29 17:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.0
12,0,0.00,0,2018-09-29 18:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.0
13,0,0.00,0,2018-09-29 19:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.0
14,0,0.00,0,2018-09-29 20:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.0
15,0,0.00,0,2018-09-29 21:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.0
16,0,0.00,0,2018-09-29 22:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.0
17,0,0.00,0,2018-09-29 23:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.0
18,0,0.00,0,2018-09-30 00:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.0
19,0,0.00,0,2018-09-30 01:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.0
20,0,0.00,0,2018-09-30 03:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.0
21,0,0.00,0,2018-09-30 04:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.0
22,0,0.00,0,2018-09-30 05:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.0
23,0,0.00,0,2018-09-30 00:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.0

In [8]:
f = counts_by_date[dates[1]]
f.loc[lambda x: x.location_name == "107 Quay St (EW)"]

,total,total_average,total_last_year,datetime,location_code,location_name,day_total,day_total_last_year,day_total_average
0,56,68.75,59,2018-09-30 06:00:00,CL14,107 Quay St (EW),13787,15349,9923.25
1,186,150.50,195,2018-09-30 07:00:00,CL14,107 Quay St (EW),13787,15349,9923.25
2,370,428.75,461,2018-09-30 08:00:00,CL14,107 Quay St (EW),13787,15349,9923.25
3,687,660.00,704,2018-09-30 09:00:00,CL14,107 Quay St (EW),13787,15349,9923.25
4,1092,840.00,941,2018-09-30 10:00:00,CL14,107 Quay St (EW),13787,15349,9923.25
5,1255,985.75,1098,2018-09-30 11:00:00,CL14,107 Quay St (EW),13787,15349,9923.25
6,1409,1009.25,938,2018-09-30 12:00:00,CL14,107 Quay St (EW),13787,15349,9923.25
7,1283,1004.75,1112,2018-09-30 13:00:00,CL14,107 Quay St (EW),13787,15349,9923.25
8,1351,904.50,1195,2018-09-30 14:00:00,CL14,107 Quay St (EW),13787,15349,9923.25
9,1385,825.00,1186,2018-09-30 15:00:00,CL14,107 Quay St (EW),13787,15349,9923.25
10,1314,892.25,1296,2018-09-30 16:00:00,CL14,107 Quay St (EW),13787,15349,9923.25
11,1177,718.25,1540,2018-09-30 17:00:00,CL14,107 Quay St (EW),13787,15349,9923.25
12,735,477.25,1031,2018-09-30 18:00:00,CL14,107 Quay St (EW),13787,15349,9923.25
13,583,344.75,835,2018-09-30 19:00:00,CL14,107 Quay St (EW),13787,15349,9923.25
14,435,230.00,551,2018-09-30 20:00:00,CL14,107 Quay St (EW),13787,15349,9923.25
15,193,168.25,401,2018-09-30 21:00:00,CL14,107 Quay St (EW),13787,15349,9923.25
16,99,86.75,435,2018-09-30 22:00:00,CL14,107 Quay St (EW),13787,15349,9923.25
17,68,42.75,434,2018-09-30 23:00:00,CL14,107 Quay St (EW),13787,15349,9923.25
18,36,23.75,358,2018-10-01 00:00:00,CL14,107 Quay St (EW),13787,15349,9923.25
19,13,7.50,245,2018-10-01 01:00:00,CL14,107 Quay St (EW),13787,15349,9923.25
20,13,5.75,156,2018-10-01 02:00:00,CL14,107 Quay St (EW),13787,15349,9923.25
21,1,5.75,120,2018-10-01 03:00:00,CL14,107 Quay St (EW),13787,15349,9923.25
22,10,10.75,39,2018-10-01 04:00:00,CL14,107 Quay St (EW),13787,15349,9923.25
23,36,32.25,19,2018-10-01 05:00:00,CL14,107 Quay St (EW),13787,15349,9923.25