In [1]:
import sys

import pandas as pd

sys.path.append("../")

import hotc as hc

%load_ext autoreload
%autoreload 2

In [2]:
# Print counter locations

hc.COUNTERS

,location_code,location_name,address,latitude,longitude
0,CL15,1 Courthouse Lane (NS),"1 Courthouse Lane, Auckland Central, Auckland,...",-36.848170,174.767050
1,CL14,107 Quay St (EW),"107 Quay Street, Auckland Central, Auckland, N...",-36.842840,174.766448
2,CL19,150 K Road (EW),"150 K Road, Auckland Central, Auckland, New Ze...",-36.858145,174.760321
3,CL6,183 K Road (EW),"183 K Road, Auckland Central, Auckland, New Ze...",-36.857570,174.760141
4,CL20,19 Shortland St (EW),"19 Shortland Street, Auckland Central, Aucklan...",-36.846576,174.766946
5,CL21,2 High St (NS),"2 High Street, Auckland Central, Auckland, New...",-36.846853,174.767005
6,CL10,205 Queen St (EW),"205 Queen Street, Auckland Central, Auckland, ...",-36.849339,174.764960
7,CL5,210 Queen St (NS),"210 Queen Street, Auckland Central, Auckland, ...",-36.848837,174.765597
8,CL4,261 Queen St (NS),"261 Queen Street, Auckland Central, Auckland, ...",-36.850792,174.764556
9,CL22,297 Queen St (NS),"297 Queen Street, Auckland Central, Auckland, ...",-36.852232,174.763915
10,CL18,30 Queen St (NS),"30 Queen Street, Auckland Central, Auckland, N...",-36.844891,174.766765
11,CL3,45 Queen St (NS),"45 Queen Street, Auckland Central, Auckland, N...",-36.851258,174.764279
12,CL2,59 High St (NS),"59 High Street, Auckland Central, Auckland, Ne...",-36.848686,174.766039
13,CL23,61 Federal St (NS),"61 Federal Street, Auckland Central, Auckland,...",-36.847964,174.762729
14,CL17,7 Custom St East (EW),"7 Custom Street East, Auckland Central, Auckla...",-36.848300,174.764700
15,CL8,8 Darby St (EW),"8 Darby Street (East-West), Auckland Central, ...",-36.849564,174.764605
16,CL7,8 Darby St (NS),"8 Darby Street (North-South), Auckland Central...",-36.849558,174.764106
17,CL13,Commerce St West (NS),"Commerce Street West, Auckland Central, Auckla...",-36.844912,174.768065
18,CL9,Te Ara Tahuhu Walkway (EW),"Te Ara Tahuhu Walkway, Auckland Central, Auckl...",-36.844650,174.769645

In [6]:
# Get daily counts for 2017-10

dates = pd.date_range("2018-12-29", "2018-12-30", freq="D")
dates = [date.strftime(hc.DATE_FORMAT) for date in dates]
print(dates)

%time counts_by_date = hc.get_hotc(dates, "day")

print(list(counts_by_date.keys()))
counts_by_date[dates[0]]

['2018-12-29', '2018-12-30']
CPU times: user 364 ms, sys: 0 ns, total: 364 ms
Wall time: 2.57 s
['2018-12-29', '2018-12-30']

,total,total_average,total_last_year,datetime,location_code,location_name,day_total,day_total_last_year,day_total_average
0,95,108.75,121,2018-12-29 06:00:00,CL5,210 Queen St (NS),20327,24495,24760.75
1,148,191.75,275,2018-12-29 07:00:00,CL5,210 Queen St (NS),20327,24495,24760.75
2,330,361.50,456,2018-12-29 08:00:00,CL5,210 Queen St (NS),20327,24495,24760.75
3,597,772.50,810,2018-12-29 09:00:00,CL5,210 Queen St (NS),20327,24495,24760.75
4,1145,1352.50,1327,2018-12-29 10:00:00,CL5,210 Queen St (NS),20327,24495,24760.75
5,1394,1718.25,1694,2018-12-29 11:00:00,CL5,210 Queen St (NS),20327,24495,24760.75
6,1658,2029.00,2181,2018-12-29 12:00:00,CL5,210 Queen St (NS),20327,24495,24760.75
7,1786,2094.00,2226,2018-12-29 13:00:00,CL5,210 Queen St (NS),20327,24495,24760.75
8,1929,2202.75,2394,2018-12-29 14:00:00,CL5,210 Queen St (NS),20327,24495,24760.75
9,2077,2360.00,2601,2018-12-29 15:00:00,CL5,210 Queen St (NS),20327,24495,24760.75
10,2044,2316.75,2305,2018-12-29 16:00:00,CL5,210 Queen St (NS),20327,24495,24760.75
11,1816,1948.00,2132,2018-12-29 17:00:00,CL5,210 Queen St (NS),20327,24495,24760.75
12,1149,1439.75,1621,2018-12-29 18:00:00,CL5,210 Queen St (NS),20327,24495,24760.75
13,915,1089.00,1199,2018-12-29 19:00:00,CL5,210 Queen St (NS),20327,24495,24760.75
14,794,872.25,904,2018-12-29 20:00:00,CL5,210 Queen St (NS),20327,24495,24760.75
15,652,754.50,621,2018-12-29 21:00:00,CL5,210 Queen St (NS),20327,24495,24760.75
16,510,688.00,490,2018-12-29 22:00:00,CL5,210 Queen St (NS),20327,24495,24760.75
17,370,677.75,427,2018-12-29 23:00:00,CL5,210 Queen St (NS),20327,24495,24760.75
18,326,596.25,266,2018-12-30 00:00:00,CL5,210 Queen St (NS),20327,24495,24760.75
19,236,457.25,149,2018-12-30 01:00:00,CL5,210 Queen St (NS),20327,24495,24760.75
20,122,289.50,108,2018-12-30 02:00:00,CL5,210 Queen St (NS),20327,24495,24760.75
21,120,216.25,72,2018-12-30 03:00:00,CL5,210 Queen St (NS),20327,24495,24760.75
22,93,160.00,68,2018-12-30 04:00:00,CL5,210 Queen St (NS),20327,24495,24760.75
23,21,64.50,48,2018-12-30 05:00:00,CL5,210 Queen St (NS),20327,24495,24760.75
0,83,106.25,109,2018-12-29 06:00:00,CL3,45 Queen St (NS),20064,23643,23248.50
1,222,213.75,450,2018-12-29 07:00:00,CL3,45 Queen St (NS),20064,23643,23248.50
2,476,475.75,998,2018-12-29 08:00:00,CL3,45 Queen St (NS),20064,23643,23248.50
3,739,780.00,1260,2018-12-29 09:00:00,CL3,45 Queen St (NS),20064,23643,23248.50
4,1059,1249.00,1458,2018-12-29 10:00:00,CL3,45 Queen St (NS),20064,23643,23248.50
5,1347,1642.50,1593,2018-12-29 11:00:00,CL3,45 Queen St (NS),20064,23643,23248.50
...,...,...,...,...,...,...,...,...,...
18,0,0.00,0,2018-12-30 00:00:00,CL11,Bledisloe Lane (NS),0,0,0.00
19,0,0.00,0,2018-12-30 01:00:00,CL11,Bledisloe Lane (NS),0,0,0.00
20,0,0.00,0,2018-12-30 02:00:00,CL11,Bledisloe Lane (NS),0,0,0.00
21,0,0.00,0,2018-12-30 03:00:00,CL11,Bledisloe Lane (NS),0,0,0.00
22,0,0.00,0,2018-12-30 04:00:00,CL11,Bledisloe Lane (NS),0,0,0.00
23,0,0.00,0,2018-12-30 05:00:00,CL11,Bledisloe Lane (NS),0,0,0.00
0,0,0.00,0,2018-12-29 06:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.00
1,0,0.00,0,2018-12-29 07:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.00
2,0,0.00,0,2018-12-29 08:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.00
3,0,0.00,0,2018-12-29 09:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.00
4,0,0.00,0,2018-12-29 10:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.00
5,0,0.00,0,2018-12-29 11:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.00
6,0,0.00,0,2018-12-29 12:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.00
7,0,0.00,0,2018-12-29 13:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.00
8,0,0.00,0,2018-12-29 14:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.00
9,0,0.00,0,2018-12-29 15:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.00
10,0,0.00,0,2018-12-29 16:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.00
11,0,0.00,0,2018-12-29 17:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.00
12,0,0.00,0,2018-12-29 18:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.00
13,0,0.00,0,2018-12-29 19:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.00
14,0,0.00,0,2018-12-29 20:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.00
15,0,0.00,0,2018-12-29 21:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.00
16,0,0.00,0,2018-12-29 22:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.00
17,0,0.00,0,2018-12-29 23:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.00
18,0,0.00,0,2018-12-30 00:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.00
19,0,0.00,0,2018-12-30 01:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.00
20,0,0.00,0,2018-12-30 02:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.00
21,0,0.00,0,2018-12-30 03:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.00
22,0,0.00,0,2018-12-30 04:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.00
23,0,0.00,0,2018-12-30 05:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.00

In [7]:
f = counts_by_date[dates[1]]
f.loc[lambda x: x.location_name == "107 Quay St (EW)"]

,total,total_average,total_last_year,datetime,location_code,location_name,day_total,day_total_last_year,day_total_average
0,0,48.75,120,2018-12-30 06:00:00,CL14,107 Quay St (EW),0,18672,10395.75
1,0,139.75,345,2018-12-30 07:00:00,CL14,107 Quay St (EW),0,18672,10395.75
2,0,418.50,770,2018-12-30 08:00:00,CL14,107 Quay St (EW),0,18672,10395.75
3,0,546.00,1085,2018-12-30 09:00:00,CL14,107 Quay St (EW),0,18672,10395.75
4,0,633.75,1252,2018-12-30 10:00:00,CL14,107 Quay St (EW),0,18672,10395.75
5,0,722.00,1278,2018-12-30 11:00:00,CL14,107 Quay St (EW),0,18672,10395.75
6,0,712.75,1179,2018-12-30 12:00:00,CL14,107 Quay St (EW),0,18672,10395.75
7,0,781.00,1222,2018-12-30 13:00:00,CL14,107 Quay St (EW),0,18672,10395.75
8,0,1073.50,1379,2018-12-30 14:00:00,CL14,107 Quay St (EW),0,18672,10395.75
9,0,1089.50,1580,2018-12-30 15:00:00,CL14,107 Quay St (EW),0,18672,10395.75
10,0,1104.75,1552,2018-12-30 16:00:00,CL14,107 Quay St (EW),0,18672,10395.75
11,0,875.75,1401,2018-12-30 17:00:00,CL14,107 Quay St (EW),0,18672,10395.75
12,0,634.25,1107,2018-12-30 18:00:00,CL14,107 Quay St (EW),0,18672,10395.75
13,0,578.00,1105,2018-12-30 19:00:00,CL14,107 Quay St (EW),0,18672,10395.75
14,0,414.75,891,2018-12-30 20:00:00,CL14,107 Quay St (EW),0,18672,10395.75
15,0,282.00,821,2018-12-30 21:00:00,CL14,107 Quay St (EW),0,18672,10395.75
16,0,183.00,575,2018-12-30 22:00:00,CL14,107 Quay St (EW),0,18672,10395.75
17,0,72.25,312,2018-12-30 23:00:00,CL14,107 Quay St (EW),0,18672,10395.75
18,0,33.00,268,2018-12-31 00:00:00,CL14,107 Quay St (EW),0,18672,10395.75
19,0,10.00,175,2018-12-31 01:00:00,CL14,107 Quay St (EW),0,18672,10395.75
20,0,8.75,133,2018-12-31 02:00:00,CL14,107 Quay St (EW),0,18672,10395.75
21,0,5.00,67,2018-12-31 03:00:00,CL14,107 Quay St (EW),0,18672,10395.75
22,0,9.25,37,2018-12-31 04:00:00,CL14,107 Quay St (EW),0,18672,10395.75
23,0,19.50,18,2018-12-31 05:00:00,CL14,107 Quay St (EW),0,18672,10395.75