In [1]:
import sys

import pandas as pd

sys.path.append("../")

import hotc as hc

%load_ext autoreload
%autoreload 2

In [2]:
# Print counter locations

hc.COUNTERS

,location_code,location_name,address,latitude,longitude
0,CL15,1 Courthouse Lane (NS),"1 Courthouse Lane, Auckland Central, Auckland,...",-36.848170,174.767050
1,CL14,107 Quay St (EW),"107 Quay Street, Auckland Central, Auckland, N...",-36.842840,174.766448
2,CL19,150 K Road (EW),"150 K Road, Auckland Central, Auckland, New Ze...",-36.858145,174.760321
3,CL6,183 K Road (EW),"183 K Road, Auckland Central, Auckland, New Ze...",-36.857570,174.760141
4,CL20,19 Shortland St (EW),"19 Shortland Street, Auckland Central, Aucklan...",-36.846576,174.766946
5,CL21,2 High St (NS),"2 High Street, Auckland Central, Auckland, New...",-36.846853,174.767005
6,CL10,205 Queen St (EW),"205 Queen Street, Auckland Central, Auckland, ...",-36.849339,174.764960
7,CL5,210 Queen St (NS),"210 Queen Street, Auckland Central, Auckland, ...",-36.848837,174.765597
8,CL4,261 Queen St (NS),"261 Queen Street, Auckland Central, Auckland, ...",-36.850792,174.764556
9,CL22,297 Queen St (NS),"297 Queen Street, Auckland Central, Auckland, ...",-36.852232,174.763915
10,CL18,30 Queen St (NS),"30 Queen Street, Auckland Central, Auckland, N...",-36.844891,174.766765
11,CL3,45 Queen St (NS),"45 Queen Street, Auckland Central, Auckland, N...",-36.851258,174.764279
12,CL2,59 High St (NS),"59 High Street, Auckland Central, Auckland, Ne...",-36.848686,174.766039
13,CL23,61 Federal St (NS),"61 Federal Street, Auckland Central, Auckland,...",-36.847964,174.762729
14,CL17,7 Custom St East (EW),"7 Custom Street East, Auckland Central, Auckla...",-36.848300,174.764700
15,CL8,8 Darby St (EW),"8 Darby Street (East-West), Auckland Central, ...",-36.849564,174.764605
16,CL7,8 Darby St (NS),"8 Darby Street (North-South), Auckland Central...",-36.849558,174.764106
17,CL13,Commerce St West (NS),"Commerce Street West, Auckland Central, Auckla...",-36.844912,174.768065
18,CL9,Te Ara Tahuhu Walkway (EW),"Te Ara Tahuhu Walkway, Auckland Central, Auckl...",-36.844650,174.769645

In [3]:
# Get some daily counts

dates = pd.date_range("2019-05-01", "2019-05-06", freq="D")
dates = [date.strftime(hc.DATE_FORMAT) for date in dates]
print(dates)

%time counts_by_date = hc.get_hotc(dates, "day")

print(list(counts_by_date.keys()))
counts_by_date[dates[0]]

['2019-05-01', '2019-05-02', '2019-05-03', '2019-05-04', '2019-05-05', '2019-05-06']
CPU times: user 1.4 s, sys: 4.24 ms, total: 1.41 s
Wall time: 8.58 s
['2019-05-01', '2019-05-02', '2019-05-03', '2019-05-04', '2019-05-05', '2019-05-06']

,total,total_average,total_last_year,datetime,location_code,location_name,day_total,day_total_last_year,day_total_average
0,497,457.50,341,2019-05-01 06:00:00,CL3,45 Queen St (NS),36601,29891,30394.25
1,1289,1360.50,1510,2019-05-01 07:00:00,CL3,45 Queen St (NS),36601,29891,30394.25
2,2354,2459.50,2620,2019-05-01 08:00:00,CL3,45 Queen St (NS),36601,29891,30394.25
3,1723,1580.00,2009,2019-05-01 09:00:00,CL3,45 Queen St (NS),36601,29891,30394.25
4,1967,1721.75,2025,2019-05-01 10:00:00,CL3,45 Queen St (NS),36601,29891,30394.25
5,2170,1879.00,1821,2019-05-01 11:00:00,CL3,45 Queen St (NS),36601,29891,30394.25
6,2977,2550.75,2437,2019-05-01 12:00:00,CL3,45 Queen St (NS),36601,29891,30394.25
7,3253,2558.25,2559,2019-05-01 13:00:00,CL3,45 Queen St (NS),36601,29891,30394.25
8,2711,2126.25,2322,2019-05-01 14:00:00,CL3,45 Queen St (NS),36601,29891,30394.25
9,3146,2417.25,2329,2019-05-01 15:00:00,CL3,45 Queen St (NS),36601,29891,30394.25
10,3333,2749.75,2796,2019-05-01 16:00:00,CL3,45 Queen St (NS),36601,29891,30394.25
11,3479,3005.50,2951,2019-05-01 17:00:00,CL3,45 Queen St (NS),36601,29891,30394.25
12,2221,1800.25,1579,2019-05-01 18:00:00,CL3,45 Queen St (NS),36601,29891,30394.25
13,1417,1087.25,889,2019-05-01 19:00:00,CL3,45 Queen St (NS),36601,29891,30394.25
14,1051,789.25,725,2019-05-01 20:00:00,CL3,45 Queen St (NS),36601,29891,30394.25
15,767,584.75,401,2019-05-01 21:00:00,CL3,45 Queen St (NS),36601,29891,30394.25
16,853,419.75,263,2019-05-01 22:00:00,CL3,45 Queen St (NS),36601,29891,30394.25
17,623,307.50,127,2019-05-01 23:00:00,CL3,45 Queen St (NS),36601,29891,30394.25
18,506,217.75,46,2019-05-02 00:00:00,CL3,45 Queen St (NS),36601,29891,30394.25
19,126,97.00,36,2019-05-02 01:00:00,CL3,45 Queen St (NS),36601,29891,30394.25
20,61,81.25,35,2019-05-02 02:00:00,CL3,45 Queen St (NS),36601,29891,30394.25
21,39,49.75,6,2019-05-02 03:00:00,CL3,45 Queen St (NS),36601,29891,30394.25
22,17,23.75,16,2019-05-02 04:00:00,CL3,45 Queen St (NS),36601,29891,30394.25
23,21,70.00,48,2019-05-02 05:00:00,CL3,45 Queen St (NS),36601,29891,30394.25
0,213,227.25,240,2019-05-01 06:00:00,CL5,210 Queen St (NS),25374,25946,26224.50
1,607,570.50,810,2019-05-01 07:00:00,CL5,210 Queen St (NS),25374,25946,26224.50
2,1403,1221.25,1751,2019-05-01 08:00:00,CL5,210 Queen St (NS),25374,25946,26224.50
3,1030,1034.75,1364,2019-05-01 09:00:00,CL5,210 Queen St (NS),25374,25946,26224.50
4,1107,1172.25,1332,2019-05-01 10:00:00,CL5,210 Queen St (NS),25374,25946,26224.50
5,1603,1598.25,1656,2019-05-01 11:00:00,CL5,210 Queen St (NS),25374,25946,26224.50
...,...,...,...,...,...,...,...,...,...
18,0,0.00,0,2019-05-02 00:00:00,CL11,Bledisloe Lane (NS),0,0,0.00
19,0,0.00,0,2019-05-02 01:00:00,CL11,Bledisloe Lane (NS),0,0,0.00
20,0,0.00,0,2019-05-02 02:00:00,CL11,Bledisloe Lane (NS),0,0,0.00
21,0,0.00,0,2019-05-02 03:00:00,CL11,Bledisloe Lane (NS),0,0,0.00
22,0,0.00,0,2019-05-02 04:00:00,CL11,Bledisloe Lane (NS),0,0,0.00
23,0,0.00,0,2019-05-02 05:00:00,CL11,Bledisloe Lane (NS),0,0,0.00
0,0,0.00,0,2019-05-01 06:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.00
1,0,0.00,0,2019-05-01 07:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.00
2,0,0.00,0,2019-05-01 08:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.00
3,0,0.00,0,2019-05-01 09:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.00
4,0,0.00,0,2019-05-01 10:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.00
5,0,0.00,0,2019-05-01 11:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.00
6,0,0.00,0,2019-05-01 12:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.00
7,0,0.00,0,2019-05-01 13:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.00
8,0,0.00,0,2019-05-01 14:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.00
9,0,0.00,0,2019-05-01 15:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.00
10,0,0.00,0,2019-05-01 16:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.00
11,0,0.00,0,2019-05-01 17:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.00
12,0,0.00,0,2019-05-01 18:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.00
13,0,0.00,0,2019-05-01 19:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.00
14,0,0.00,0,2019-05-01 20:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.00
15,0,0.00,0,2019-05-01 21:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.00
16,0,0.00,0,2019-05-01 22:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.00
17,0,0.00,0,2019-05-01 23:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.00
18,0,0.00,0,2019-05-02 00:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.00
19,0,0.00,0,2019-05-02 01:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.00
20,0,0.00,0,2019-05-02 02:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.00
21,0,0.00,0,2019-05-02 03:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.00
22,0,0.00,0,2019-05-02 04:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.00
23,0,0.00,0,2019-05-02 05:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.00

In [4]:
f = counts_by_date[dates[1]]
f.loc[lambda x: x.location_name == "107 Quay St (EW)"]

,total,total_average,total_last_year,datetime,location_code,location_name,day_total,day_total_last_year,day_total_average
0,0,0.0,268,2019-05-02 06:00:00,CL14,107 Quay St (EW),0,13513,0.0
1,0,0.0,779,2019-05-02 07:00:00,CL14,107 Quay St (EW),0,13513,0.0
2,0,0.0,1165,2019-05-02 08:00:00,CL14,107 Quay St (EW),0,13513,0.0
3,0,0.0,728,2019-05-02 09:00:00,CL14,107 Quay St (EW),0,13513,0.0
4,0,0.0,579,2019-05-02 10:00:00,CL14,107 Quay St (EW),0,13513,0.0
5,0,0.0,709,2019-05-02 11:00:00,CL14,107 Quay St (EW),0,13513,0.0
6,0,0.0,1102,2019-05-02 12:00:00,CL14,107 Quay St (EW),0,13513,0.0
7,0,0.0,1128,2019-05-02 13:00:00,CL14,107 Quay St (EW),0,13513,0.0
8,0,0.0,884,2019-05-02 14:00:00,CL14,107 Quay St (EW),0,13513,0.0
9,0,0.0,815,2019-05-02 15:00:00,CL14,107 Quay St (EW),0,13513,0.0
10,0,0.0,1093,2019-05-02 16:00:00,CL14,107 Quay St (EW),0,13513,0.0
11,0,0.0,1457,2019-05-02 17:00:00,CL14,107 Quay St (EW),0,13513,0.0
12,0,0.0,780,2019-05-02 18:00:00,CL14,107 Quay St (EW),0,13513,0.0
13,0,0.0,488,2019-05-02 19:00:00,CL14,107 Quay St (EW),0,13513,0.0
14,0,0.0,358,2019-05-02 20:00:00,CL14,107 Quay St (EW),0,13513,0.0
15,0,0.0,350,2019-05-02 21:00:00,CL14,107 Quay St (EW),0,13513,0.0
16,0,0.0,316,2019-05-02 22:00:00,CL14,107 Quay St (EW),0,13513,0.0
17,0,0.0,172,2019-05-02 23:00:00,CL14,107 Quay St (EW),0,13513,0.0
18,0,0.0,103,2019-05-03 00:00:00,CL14,107 Quay St (EW),0,13513,0.0
19,0,0.0,81,2019-05-03 01:00:00,CL14,107 Quay St (EW),0,13513,0.0
20,0,0.0,70,2019-05-03 02:00:00,CL14,107 Quay St (EW),0,13513,0.0
21,0,0.0,36,2019-05-03 03:00:00,CL14,107 Quay St (EW),0,13513,0.0
22,0,0.0,12,2019-05-03 04:00:00,CL14,107 Quay St (EW),0,13513,0.0
23,0,0.0,40,2019-05-03 05:00:00,CL14,107 Quay St (EW),0,13513,0.0