In [2]:
import sys

import pandas as pd

sys.path.append('../')

import hotc_getter as hg

%load_ext autoreload
%autoreload 2

In [3]:
# Print counter locations

hg.COUNTERS

,location_code,location_name,address,latitude,longitude
0,CL15,1 Courthouse Lane (NS),"1 Courthouse Lane, Auckland Central, Auckland,...",-36.848170,174.767050
1,CL14,107 Quay St (EW),"107 Quay Street, Auckland Central, Auckland, N...",-36.842840,174.766448
2,CL19,150 K Road (EW),"150 K Road, Auckland Central, Auckland, New Ze...",-36.858145,174.760321
3,CL6,183 K Road (EW),"183 K Road, Auckland Central, Auckland, New Ze...",-36.857570,174.760141
4,CL20,19 Shortland St (EW),"19 Shortland Street, Auckland Central, Aucklan...",-36.846576,174.766946
5,CL21,2 High St (NS),"2 High Street, Auckland Central, Auckland, New...",-36.846853,174.767005
6,CL10,205 Queen St (EW),"205 Queen Street, Auckland Central, Auckland, ...",-36.849339,174.764960
7,CL5,210 Queen St (NS),"210 Queen Street, Auckland Central, Auckland, ...",-36.848837,174.765597
8,CL4,261 Queen St (NS),"261 Queen Street, Auckland Central, Auckland, ...",-36.850792,174.764556
9,CL22,297 Queen St (NS),"297 Queen Street, Auckland Central, Auckland, ...",-36.852232,174.763915
10,CL18,30 Queen St (NS),"30 Queen Street, Auckland Central, Auckland, N...",-36.844891,174.766765
11,CL3,45 Queen St (NS),"45 Queen Street, Auckland Central, Auckland, N...",-36.851258,174.764279
12,CL2,59 High St (NS),"59 High Street, Auckland Central, Auckland, Ne...",-36.848686,174.766039
13,CL23,61 Federal St (NS),"61 Federal Street, Auckland Central, Auckland,...",-36.847964,174.762729
14,CL17,7 Custom St East (EW),"7 Custom Street East, Auckland Central, Auckla...",-36.848300,174.764700
15,CL8,8 Darby St (EW),"8 Darby Street (East-West), Auckland Central, ...",-36.849564,174.764605
16,CL7,8 Darby St (NS),"8 Darby Street (North-South), Auckland Central...",-36.849558,174.764106
17,CL13,Commerce St West (NS),"Commerce Street West, Auckland Central, Auckla...",-36.844912,174.768065
18,CL9,Te Ara Tahuhu Walkway (EW),"Te Ara Tahuhu Walkway, Auckland Central, Auckl...",-36.844650,174.769645

In [3]:
# Get daily counts for 2017-10

dates = pd.date_range('2017-10-01', '2017-10-31', period='D')
dates = [date.strftime(hg.DATE_FORMAT) for date in dates]
print(dates)

%time hotc_by_date = hg.get_hotc(dates, 'day')

print(list(hotc_by_date.keys()))
hotc_by_date[dates[0]]

['2017-10-01', '2017-10-02', '2017-10-03', '2017-10-04', '2017-10-05', '2017-10-06', '2017-10-07', '2017-10-08', '2017-10-09', '2017-10-10', '2017-10-11', '2017-10-12', '2017-10-13', '2017-10-14', '2017-10-15', '2017-10-16', '2017-10-17', '2017-10-18', '2017-10-19', '2017-10-20', '2017-10-21', '2017-10-22', '2017-10-23', '2017-10-24', '2017-10-25', '2017-10-26', '2017-10-27', '2017-10-28', '2017-10-29', '2017-10-30', '2017-10-31']
CPU times: user 8.57 s, sys: 100 ms, total: 8.67 s
Wall time: 36.6 s
['2017-10-30', '2017-10-27', '2017-10-28', '2017-10-02', '2017-10-16', '2017-10-21', '2017-10-11', '2017-10-22', '2017-10-24', '2017-10-18', '2017-10-25', '2017-10-04', '2017-10-07', '2017-10-19', '2017-10-01', '2017-10-23', '2017-10-08', '2017-10-05', '2017-10-14', '2017-10-03', '2017-10-12', '2017-10-15', '2017-10-29', '2017-10-26', '2017-10-31', '2017-10-20', '2017-10-13', '2017-10-10', '2017-10-06', '2017-10-09', '2017-10-17']

,total,total_average,total_last_year,datetime,location_code,location_name,day_total,day_total_last_year,day_total_average
0,109,76.25,119,2017-10-01 06:00:00,CL5,210 Queen St (NS),15048,28923,15665.75
1,159,126.75,231,2017-10-01 07:00:00,CL5,210 Queen St (NS),15048,28923,15665.75
2,208,257.50,405,2017-10-01 08:00:00,CL5,210 Queen St (NS),15048,28923,15665.75
3,416,497.25,866,2017-10-01 09:00:00,CL5,210 Queen St (NS),15048,28923,15665.75
4,771,785.75,1365,2017-10-01 10:00:00,CL5,210 Queen St (NS),15048,28923,15665.75
5,957,1200.00,1670,2017-10-01 11:00:00,CL5,210 Queen St (NS),15048,28923,15665.75
6,1268,1368.75,2105,2017-10-01 12:00:00,CL5,210 Queen St (NS),15048,28923,15665.75
7,1260,1559.00,2387,2017-10-01 13:00:00,CL5,210 Queen St (NS),15048,28923,15665.75
8,1543,1721.00,2556,2017-10-01 14:00:00,CL5,210 Queen St (NS),15048,28923,15665.75
9,1698,1854.00,2787,2017-10-01 15:00:00,CL5,210 Queen St (NS),15048,28923,15665.75
10,1755,1713.50,2576,2017-10-01 16:00:00,CL5,210 Queen St (NS),15048,28923,15665.75
11,1419,1394.25,2112,2017-10-01 17:00:00,CL5,210 Queen St (NS),15048,28923,15665.75
12,1113,919.00,1707,2017-10-01 18:00:00,CL5,210 Queen St (NS),15048,28923,15665.75
13,710,635.00,1463,2017-10-01 19:00:00,CL5,210 Queen St (NS),15048,28923,15665.75
14,519,489.75,1066,2017-10-01 20:00:00,CL5,210 Queen St (NS),15048,28923,15665.75
15,457,423.25,926,2017-10-01 21:00:00,CL5,210 Queen St (NS),15048,28923,15665.75
16,310,258.75,940,2017-10-01 22:00:00,CL5,210 Queen St (NS),15048,28923,15665.75
17,128,136.75,1004,2017-10-01 23:00:00,CL5,210 Queen St (NS),15048,28923,15665.75
18,57,60.00,820,2017-10-02 00:00:00,CL5,210 Queen St (NS),15048,28923,15665.75
19,54,41.75,691,2017-10-02 01:00:00,CL5,210 Queen St (NS),15048,28923,15665.75
20,27,26.75,531,2017-10-02 02:00:00,CL5,210 Queen St (NS),15048,28923,15665.75
21,21,22.00,334,2017-10-02 03:00:00,CL5,210 Queen St (NS),15048,28923,15665.75
22,23,20.25,207,2017-10-02 04:00:00,CL5,210 Queen St (NS),15048,28923,15665.75
23,66,78.50,55,2017-10-02 05:00:00,CL5,210 Queen St (NS),15048,28923,15665.75
0,58,59.00,73,2017-10-01 06:00:00,CL4,261 Queen St (NS),12007,15497,14352.00
1,141,137.75,93,2017-10-01 07:00:00,CL4,261 Queen St (NS),12007,15497,14352.00
2,233,230.00,238,2017-10-01 08:00:00,CL4,261 Queen St (NS),12007,15497,14352.00
3,383,419.25,420,2017-10-01 09:00:00,CL4,261 Queen St (NS),12007,15497,14352.00
4,552,688.75,652,2017-10-01 10:00:00,CL4,261 Queen St (NS),12007,15497,14352.00
5,755,975.25,781,2017-10-01 11:00:00,CL4,261 Queen St (NS),12007,15497,14352.00
...,...,...,...,...,...,...,...,...,...
18,0,0.00,0,2017-10-02 00:00:00,CL11,Bledisloe Lane (NS),0,0,0.00
19,0,0.00,0,2017-10-02 01:00:00,CL11,Bledisloe Lane (NS),0,0,0.00
20,0,0.00,0,2017-10-02 02:00:00,CL11,Bledisloe Lane (NS),0,0,0.00
21,0,0.00,0,2017-10-02 03:00:00,CL11,Bledisloe Lane (NS),0,0,0.00
22,0,0.00,0,2017-10-02 04:00:00,CL11,Bledisloe Lane (NS),0,0,0.00
23,0,0.00,0,2017-10-02 05:00:00,CL11,Bledisloe Lane (NS),0,0,0.00
0,0,0.00,0,2017-10-01 06:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.00
1,0,0.00,0,2017-10-01 07:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.00
2,0,0.00,0,2017-10-01 08:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.00
3,0,0.00,0,2017-10-01 09:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.00
4,0,0.00,0,2017-10-01 10:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.00
5,0,0.00,0,2017-10-01 11:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.00
6,0,0.00,0,2017-10-01 12:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.00
7,0,0.00,0,2017-10-01 13:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.00
8,0,0.00,0,2017-10-01 14:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.00
9,0,0.00,0,2017-10-01 15:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.00
10,0,0.00,0,2017-10-01 16:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.00
11,0,0.00,0,2017-10-01 17:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.00
12,0,0.00,0,2017-10-01 18:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.00
13,0,0.00,0,2017-10-01 19:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.00
14,0,0.00,0,2017-10-01 20:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.00
15,0,0.00,0,2017-10-01 21:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.00
16,0,0.00,0,2017-10-01 22:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.00
17,0,0.00,0,2017-10-01 23:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.00
18,0,0.00,0,2017-10-02 00:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.00
19,0,0.00,0,2017-10-02 01:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.00
20,0,0.00,0,2017-10-02 02:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.00
21,0,0.00,0,2017-10-02 03:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.00
22,0,0.00,0,2017-10-02 04:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.00
23,0,0.00,0,2017-10-02 05:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.00

In [4]:
# Get daily counts for 2017-10

dates = pd.date_range('2017-10-01', '2017-10-15', period='D')
dates = [date.strftime(hg.DATE_FORMAT) for date in dates]
print(dates)

%time hotc_by_date = hg.get_hotc(dates, 'week')

print(list(hotc_by_date.keys()))
hotc_by_date[dates[0]]

['2017-10-01', '2017-10-02', '2017-10-03', '2017-10-04', '2017-10-05', '2017-10-06', '2017-10-07', '2017-10-08', '2017-10-09', '2017-10-10', '2017-10-11', '2017-10-12', '2017-10-13', '2017-10-14', '2017-10-15', '2017-10-16', '2017-10-17', '2017-10-18', '2017-10-19', '2017-10-20', '2017-10-21', '2017-10-22', '2017-10-23', '2017-10-24', '2017-10-25', '2017-10-26', '2017-10-27', '2017-10-28', '2017-10-29', '2017-10-30', '2017-10-31']
CPU times: user 3.49 s, sys: 40 ms, total: 3.53 s
Wall time: 32.9 s
['2017-10-30', '2017-10-27', '2017-10-28', '2017-10-02', '2017-10-16', '2017-10-21', '2017-10-11', '2017-10-22', '2017-10-24', '2017-10-18', '2017-10-25', '2017-10-04', '2017-10-07', '2017-10-19', '2017-10-01', '2017-10-23', '2017-10-08', '2017-10-05', '2017-10-14', '2017-10-03', '2017-10-12', '2017-10-15', '2017-10-29', '2017-10-26', '2017-10-31', '2017-10-20', '2017-10-13', '2017-10-10', '2017-10-06', '2017-10-09', '2017-10-17']

,total,total_average,total_last_year,datetime,location_code,location_name,week_total,week_total_last_year,week_total_average
0,24839,23667.00,31493,2017-09-25,CL5,210 Queen St (NS),183445,218833,173434.00
1,26913,24891.00,33947,2017-09-26,CL5,210 Queen St (NS),183445,218833,173434.00
2,27853,26230.25,33799,2017-09-27,CL5,210 Queen St (NS),183445,218833,173434.00
3,29311,25882.50,35373,2017-09-28,CL5,210 Queen St (NS),183445,218833,173434.00
4,32830,31379.00,37060,2017-09-29,CL5,210 Queen St (NS),183445,218833,173434.00
5,26651,25718.50,28923,2017-09-30,CL5,210 Queen St (NS),183445,218833,173434.00
6,15048,15665.75,18238,2017-10-01,CL5,210 Queen St (NS),183445,218833,173434.00
0,27339,26670.25,29043,2017-09-25,CL3,45 Queen St (NS),179604,186010,175065.00
1,28196,28530.50,30235,2017-09-26,CL3,45 Queen St (NS),179604,186010,175065.00
2,30921,28915.50,30231,2017-09-27,CL3,45 Queen St (NS),179604,186010,175065.00
3,29303,28125.25,32040,2017-09-28,CL3,45 Queen St (NS),179604,186010,175065.00
4,32339,30723.25,32184,2017-09-29,CL3,45 Queen St (NS),179604,186010,175065.00
5,21180,19081.75,19621,2017-09-30,CL3,45 Queen St (NS),179604,186010,175065.00
6,10326,13018.50,12656,2017-10-01,CL3,45 Queen St (NS),179604,186010,175065.00
0,18427,18757.25,18178,2017-09-25,CL4,261 Queen St (NS),138235,116712,137366.00
1,21203,19714.25,17955,2017-09-26,CL4,261 Queen St (NS),138235,116712,137366.00
2,21827,20542.75,17115,2017-09-27,CL4,261 Queen St (NS),138235,116712,137366.00
3,20934,20016.75,18611,2017-09-28,CL4,261 Queen St (NS),138235,116712,137366.00
4,23644,24008.50,19238,2017-09-29,CL4,261 Queen St (NS),138235,116712,137366.00
5,20193,19974.50,15497,2017-09-30,CL4,261 Queen St (NS),138235,116712,137366.00
6,12007,14352.00,10118,2017-10-01,CL4,261 Queen St (NS),138235,116712,137366.00
0,14991,16751.75,0,2017-09-25,CL18,30 Queen St (NS),121660,0,119573.25
1,18000,18595.25,0,2017-09-26,CL18,30 Queen St (NS),121660,0,119573.25
2,19012,19308.75,0,2017-09-27,CL18,30 Queen St (NS),121660,0,119573.25
3,18286,17415.00,0,2017-09-28,CL18,30 Queen St (NS),121660,0,119573.25
4,23698,20526.50,0,2017-09-29,CL18,30 Queen St (NS),121660,0,119573.25
5,17706,16129.25,0,2017-09-30,CL18,30 Queen St (NS),121660,0,119573.25
6,9967,10846.75,0,2017-10-01,CL18,30 Queen St (NS),121660,0,119573.25
0,10387,14125.75,17131,2017-09-25,CL22,297 Queen St (NS),109368,120822,102185.00
1,22120,14367.25,20821,2017-09-26,CL22,297 Queen St (NS),109368,120822,102185.00
...,...,...,...,...,...,...,...,...,...
5,5214,5327.75,5888,2017-09-30,CL8,8 Darby St (EW),27876,30376,27468.50
6,1773,1905.50,2083,2017-10-01,CL8,8 Darby St (EW),27876,30376,27468.50
0,1998,2438.50,2399,2017-09-25,CL23,61 Federal St (NS),13977,15535,15198.50
1,2511,2536.25,2556,2017-09-26,CL23,61 Federal St (NS),13977,15535,15198.50
2,2442,2661.25,2945,2017-09-27,CL23,61 Federal St (NS),13977,15535,15198.50
3,2426,2435.25,2593,2017-09-28,CL23,61 Federal St (NS),13977,15535,15198.50
4,2752,2682.75,2616,2017-09-29,CL23,61 Federal St (NS),13977,15535,15198.50
5,1095,1400.00,1358,2017-09-30,CL23,61 Federal St (NS),13977,15535,15198.50
6,753,1044.50,1068,2017-10-01,CL23,61 Federal St (NS),13977,15535,15198.50
0,1134,977.25,1276,2017-09-25,CL15,1 Courthouse Lane (NS),8459,8435,7423.25
1,1258,1066.25,1393,2017-09-26,CL15,1 Courthouse Lane (NS),8459,8435,7423.25
2,1217,1042.50,1229,2017-09-27,CL15,1 Courthouse Lane (NS),8459,8435,7423.25
3,1311,1070.25,1267,2017-09-28,CL15,1 Courthouse Lane (NS),8459,8435,7423.25
4,1587,1503.00,1467,2017-09-29,CL15,1 Courthouse Lane (NS),8459,8435,7423.25
5,1309,1161.75,1063,2017-09-30,CL15,1 Courthouse Lane (NS),8459,8435,7423.25
6,643,602.25,740,2017-10-01,CL15,1 Courthouse Lane (NS),8459,8435,7423.25
0,0,0.00,0,2017-09-25,CL11,Bledisloe Lane (NS),0,0,0.00
1,0,0.00,0,2017-09-26,CL11,Bledisloe Lane (NS),0,0,0.00
2,0,0.00,0,2017-09-27,CL11,Bledisloe Lane (NS),0,0,0.00
3,0,0.00,0,2017-09-28,CL11,Bledisloe Lane (NS),0,0,0.00
4,0,0.00,0,2017-09-29,CL11,Bledisloe Lane (NS),0,0,0.00
5,0,0.00,0,2017-09-30,CL11,Bledisloe Lane (NS),0,0,0.00
6,0,0.00,0,2017-10-01,CL11,Bledisloe Lane (NS),0,0,0.00
0,0,0.00,0,2017-09-25,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.00
1,0,0.00,0,2017-09-26,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.00
2,0,0.00,0,2017-09-27,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.00
3,0,0.00,0,2017-09-28,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.00
4,0,0.00,0,2017-09-29,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.00
5,0,0.00,0,2017-09-30,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.00
6,0,0.00,0,2017-10-01,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.00